SUPABASE_URL=https://mrxdljauagbjusmdcciv.supabase.co
SUPABASE_SERVICE_ROLE_KEY=TU_SERVICE_ROLE_KEY_AQUI
GOOGLE_CLIENT_ID=357370160811-p0fvc37cgrr5385olh07da3249pm8hl0.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=TU_GOOGLE_CLIENT_SECRET_AQUI
GOOGLE_REDIRECT_URI=https://mrxdljauagbjusmdcciv.supabase.co/functions/v1/google-auth-callback
ALLOWED_WEB_ORIGINS=https://print.dsorak.com,https://artproducer.github.io,http://127.0.0.1:5500,http://127.0.0.1:5501
